.bar {
    display: inline-block;
    height: 75px;
    width: 20px;
    margin-right: 2px;
    background: rgb(0, 128, 240);
}

svg .cir {
    stroke: orange;
    stroke-width: 2px;
    fill: yellow;
}

svg .rec {
    height: 75px;
    width: 20px;
    /* fill: rgba(0, 240, 180, 0.568); */
    stroke: white;
    stroke-width: 2px;
}

svg .lin {
    stroke: rgba(0, 240, 180, 0.568);
    stroke-width: 2;
}

svg .cir1 {
    fill: rgb(0, 119, 255);
    stroke-width: 2px;
    /* fill: yellow; */
    r: 3;
}

.axis path,
.axis line {
    stroke: teal;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 11px;
    fill: teal;
}